/* Tampilan Tablet */
/* Breakpoint max-width 1000px */
@media only screen and (max-width: 1000px) {
    .lesson {
        width: 50%;
    }

    .top-wrapper h1 {
        font-size: 32px;
    }

    .top-wrapper p {
        font-size: 20px;
    }
}

/* Tampilan Mobile */
/* Breakpoint max-width 670px */
@media only screen and (max-width: 670px) {
    .lesson {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .facebook {
        margin-bottom: 10px;
    }

    .top-wrapper h1 {
        font-size: 24px;
    }

    .top-wrapper p {
        font-size: 14px;
    }

    .menu-icon {
        display: block !important;
    }

    .header-right {
        display: none;
    }
}